/* NAV BAR */

.nav-flex-container {
    display: flex
   
}


.nav-flex-container a {
    text-decoration: none;
    color: inherit;
}

.nav-flex-container a:hover {
    text-decoration: underline;

}


.nav-flex-child-1 {
    flex-grow: 1;
    display: flex; 
    align-items: center; 
}


.nav-flex-child-2 {
    flex-grow: 1;
    padding-right: 25px;
}


.nav-bar-left {
    list-style: none;
    
   
}

.nav-bar-right {
    list-style: none;
    text-align: right;
    
}

.nav-flex-container li {
    display: inline-block;
    padding: 5px;
      margin: 0 5px;
      
      color: #222222; 
      font-size: 14px; 
}


#sign-in {
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background: #1a73e8;
    border: 1px solid transparent;
    font-weight: 500;
    color:white;
    cursor: pointer; 
    

}

#square-icon {
    vertical-align: middle;
    cursor: pointer; 
   
}



/* GRID */
/* GRID STRUCTURE */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 2fr 1fr 1fr 1fr;
    gap: 20px;
    margin: auto;
    margin-top: 150px;
    width: 700px;
}

.grid-1 {
    grid-column: 1/5;
    grid-row:1;
}

.grid-2-search-logo {
    grid-column: 1;
    grid-row:2;
    z-index: 2;
    
}

.grid-2-search-input {
    grid-column: 1/5;
    grid-row:2;
}

.grid-3-first-button {
    grid-column: 2/3;
    grid-row:3;
}

.grid-3-second-button {
    grid-column: 3/4;
    grid-row:3;
}

.grid-4 {
    grid-column: 1/5;
    grid-row:4;
}


/* GRID ELEMENTS */

.google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;
}

.search-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 2.5rem;
    border-radius:2rem;
    padding: 0.25rem 4rem;
    border: 1px solid #ced4da;
}

.search-logo{
   
    padding-top:7%;
    padding-left: 7%;
   
}